@model Fiap.exemplo01.MVC.Models.Aluno
@{
    ViewBag.Title = "Salvar";
}

<h2>Salvar</h2>
<h2>@TempData["mensagem"] </h2>

<h3> @Model.Nome @Model.Salario @Model.Data</h3>

<h3> @ViewBag.nomeAluno</h3>
<h3> @ViewBag.dataAluno</h3>
<h3> @ViewBag.salarioAluno</h3>

